@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* :root[data-theme="light"] */
  :root {
    --textPrimary: #0d0c0d;
    --background: #f5f2f7;
    --primary: #8041a4;
    --secondary: #b3b8c7;
    --accent: #7213f6;
    --destructive: #F79414;
  }

  /* :root[data-theme="dark"] */
  .dark {
    --textPrimary: #f3f2f3;
    --background: #0b080d;
    --primary: #995bbe;
    --secondary: #383d4c;
    --accent: #6709ec;
    --destructive: #F79414;
  }
}

/* @layer base {
  body {
    @apply bg-background;
  }
} */